@import './mixins.scss';
@import './variables.scss';

.content-page {
  &__header {
    align-items: center;
    color: $primary;
    display: flex;

    &::after {
      border-top: 1px solid $primary;
      content: '';
      flex: 1;
      margin-left: 0.5rem;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__reviews {
    align-items: center;
    display: flex;
    flex-direction: column;

    &-list {
      padding: 2rem 0;
    }

    &-item {
      padding-bottom: 2rem;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  &__link {
    &:visited {
      color: $black;
    }
    &:hover,
    &:focus,
    &:active {
      color: $primary;
    }
  }
}
