@import './variables.scss';

.banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary;
  color: $white;
  padding: 2rem;

  @media #{$medium} {
    max-height: 15rem;
    padding: 3rem 2rem;
  }

  &__brand {
    @include brand;

    color: $white;
  }

  &__icon {
    font-size: 64px;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;

    @media #{$medium} {
      max-width: 30rem;
    }
  }
}
