@import './variables.scss';

@mixin active($color, $bgColor) {
  background-color: $bgColor;
  color: $color;
}

.btn {
  border-radius: 0.25rem;
  font-weight: bold;

  &-sm {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }

  &-md {
    font-size: 14px;
    padding: 0.8rem 1.8rem;
  }

  &-lg {
    font-size: 16px;
    padding: 1rem 3rem;
  }

  &-primary {
    border: 1px solid $primary;
    color: $primary;

    &:hover,
    &:focus,
    &:active {
      background-color: $primary;
      color: $white;
      outline: $primary;
    }

    &-selected {
      background-color: $primary;
      color: $white;
      outline: $primary;
    }

    &-fill {
      background-color: $primary;
      color: $white;
      outline: $primary;

      &:hover,
      &:focus,
      &:active {
        background-color: $white;
        border: 1px solid $primary;
        color: $primary;
      }
    }
  }

  &-success {
    border: 1px solid $success;
    color: $success;

    &:hover,
    &:focus,
    &:active {
      background-color: $success;
      color: $white;
      outline: $success;
    }

    &-selected {
      background-color: $success;
      color: $white;
      outline: $success;
    }

    &-fill {
      background-color: $success;
      color: $white;
      outline: $success;

      &:hover,
      &:focus,
      &:active {
        background-color: $white;
        border: 1px solid $success;
        color: $success;
      }
    }
  }

  &-danger {
    border: 1px solid $danger;
    color: $danger;

    &:hover,
    &:focus,
    &:active {
      background-color: $danger;
      color: $white;
      outline: $danger;
    }

    &-selected {
      background-color: $danger;
      color: $white;
      outline: $danger;
    }

    &-fill {
      background-color: $danger;
      color: $white;
      outline: $danger;

      &:hover,
      &:focus,
      &:active {
        background-color: $white;
        border: 1px solid $danger;
        color: $danger;
      }
    }
  }

  &-disabled {
    border: 1px solid $gray;
    color: $gray;

    &:hover {
      background-color: $white;
      border: 1px solid $gray;
      color: $gray;
      cursor: not-allowed;
    }
  }
}
