@import './mixins.scss';
@import './variables.scss';

.episode-item {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
  }

  &__row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > p {
      margin: 0;
      line-height: 1.5;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    &-item {
      border-bottom: 1px solid $gray;
      padding-top: 1rem;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
