@import './mixins.scss';
@import './variables.scss';

.footer {
  align-items: center;
  display: flex;
  justify-content: center;

  &__brand {
    @include brand;

    flex-grow: 1;
  }

  &__content {
    color: $secondary;
    flex-grow: 1;
    margin-top: 3px;
  }
}
