@import './mixins.scss';
@import './variables.scss';

.footer {
  align-items: center;
  // background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;

  @media #{$medium} {
    flex-direction: row;
    padding: 0.5rem 0;
  }

  &__brand {
    @include brand;

    // color: $white;
    flex-grow: 1;
  }

  &__content {
    color: $primary;
    // color: $white;
    flex-grow: 1;
    margin-top: 3px;
  }
}
