@import './mixins.scss';
@import './variables.scss';

.review-editor {
  padding: 0;

  @media #{$medium} {
    align-items: flex-start;
  }

  &__rate {
    align-items: center;
    display: flex;
  }

  &__review {
    margin-top: 0;
  }

  &__input {
    width: 18rem;

    @media #{$medium} {
      max-width: none;
      width: 40rem;
    }
  }

  > label {
    padding: 0;
  }

  > button {
    margin-top: 0;
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
