@import './variables.scss';

.stars {
  color: $gray;
  font-size: 12px;

  @media #{$medium} {
    font-size: 16px;
  }

  &--active {
    color: $star;
  }

  &--fill {
    color: $primary;
  }

  &--hovering {
    color: $primary;
  }

  &--enabled {
    &:hover,
    &:focus,
    &:active {
      color: $primary;
      cursor: pointer;
    }

    &:focus {
      outline-color: $primary;
    }
  }

  &--disabled {
    &:hover,
    &:focus,
    &:active {
      cursor: default;
      outline: none;
    }
  }

  > .fa-star {
    margin-right: 0.3rem;

    @media #{$medium} {
      margin-right: 0.5rem;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
