@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

button {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

input,
datalist,
textarea {
  background-color: $white;
}

.cta {
  font-weight: bold;
  line-height: 1.5;

  &:focus {
    outline: 1px solid $primary;
  }

  &:visited {
    color: $primary;
  }

  &:hover,
  &:focus,
  &:active {
    color: $primary;
    border-bottom: 2px solid $primary;
  }
}

.link {
  &:focus {
    outline: 1px solid $primary;
  }

  &:hover,
  &:focus,
  &:active {
    color: $primary;
  }
}

.show-small {
  @media #{$medium} {
    display: none !important;
  }
}

.show-medium {
  display: none !important;

  @media #{$medium} {
    display: block !important;
  }
}

.show-medium-flex {
  display: none !important;

  @media #{$medium} {
    display: flex !important;
  }
}

.show-large {
  display: none !important;

  @media #{$large} {
    display: block !important;
  }
}

.show-large-flex {
  display: none !important;

  @media #{$large} {
    display: flex !important;
  }
}

.show-x-large {
  display: none !important;

  @media #{$x-large} {
    display: block !important;
  }
}

.show-x-large-flex {
  display: none !important;

  @media #{$x-large} {
    display: flex !important;
  }
}
