// colors
$primary: #8800a8;
$secondary: #4b005c;
$accent: #cc18f5;
$light: #ede3ef;
$success: #008919;
$danger: #e60002;
$star: #fb0;
$black: #000;
$gray: #ccc;
$white: #fff;

// breakpoints
$x-small: 'screen and (min-width: 320px)';
$small: 'screen and (min-width: 375px)';
$medium: 'screen and (min-width: 768px)';
$large: 'screen and (min-width: 992px)';
$x-large: 'screen and (min-width: 1045px)';
$xx-large: 'screen and (min-width: 1184px)';

// detect
$ie: 'all and (-ms-high-contrast: none), (-ms-high-contrast: active)';
